<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>emi</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/use.css' %}">
</head>
<body>
<div class="container" align="center">
 <h1>here is the different types of calculators</h1>
    <a href="/psangam" class="btn btn-primary" type="submit">P.sangam</a>
    <a href="/invest" class="btn btn-primary" type="submit">invest</a>
</div>
</body>
</html>